@page "/kunden"
@inject DialogService DialogService

<PageTitle>Kunden</PageTitle>

<RadzenDataGrid Data="@dataKunden" @ref="ordersGrid" TItem="Model.Kunden" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple" >
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem; height:100%">No records to display.</p>
    </EmptyTemplate>
    <HeaderTemplate>
        <RadzenRow>
            <RadzenColumn style="width:99vw;">
                <div style="float:right">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="person_add" Click="NeuerKunde" Text="Neuer Kunde" />
                </div>
            </RadzenColumn>
        </RadzenRow>
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="Model.Kunden" Property="Kdnr" Title="Kdnr" />
        <RadzenDataGridColumn TItem="Model.Kunden" Property="Kurzname" Title="Kurzname" />
        <RadzenDataGridColumn TItem="Model.Kunden" Property="Vorname" Title="Vorname" />
        <RadzenDataGridColumn TItem="Model.Kunden" Property="Nachname" Title="Nachname" />
        <RadzenDataGridColumn TItem="Model.Kunden" Property="Geburtsdatum" Title="Geburtsdatum" FormatString="{0:d}"/>
                <RadzenDataGridColumn TItem="Model.Kunden" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
            <Template Context="order">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(order))"  @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="order">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(order))">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(order))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(order))">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    Model.Kunden orderToInsert;
    Model.Kunden orderToUpdate;
    RadzenDataGrid<Model.Kunden> ordersGrid;
    IEnumerable<Model.Kunden> orders;

    void Reset()
    {
        orderToInsert = null;
        orderToUpdate = null;
    }
    async Task EditRow(Model.Kunden kunde)
    {
        orderToUpdate = kunde;
        await ordersGrid.EditRow(kunde);
    }

     async Task DeleteRow(Model.Kunden order)
    {
        Reset();

        if (orders.Contains(order))
        {

            await ordersGrid.Reload();
        }
        else
        {
            ordersGrid.CancelEditRow(order);
            await ordersGrid.Reload();
        }
    }

     async Task SaveRow(Model.Kunden order)
    {
        await ordersGrid.UpdateRow(order);
    }

     void CancelEdit(Model.Kunden order)
    {
        Reset();

        ordersGrid.CancelEditRow(order);

    }

    private List<Model.Kunden> dataKunden = new();
    private string[] kunden = new string[] { "Test", "Obama", "Pietsch", "Bill Gates", "Mark Zuck", "Cahrl Mags" };

    protected override async Task OnInitializedAsync()
    {
        Data.DataKunden dk = new Data.DataKunden();
        dataKunden = dk.GetKunden();
        await Task.CompletedTask;
    }

    private async Task NeuerKunde()
    {
        await DialogService.OpenAsync("Neuer Kunde", ds =>
    @<div>
    <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
        <RadzenFormField Text="Kundennummer" Style="width: 100%;">
            <RadzenTextBox Disabled=true Value="123" Style="width: 100%;" />
        </RadzenFormField>
         <RadzenFormField Text="Kurzname" Style="width: 100%;">
            <RadzenTextBox Style="width: 100%;" />
        </RadzenFormField>
         <RadzenFormField Text="Vorname" Style="width: 100%;">
            <RadzenTextBox Style="width: 100%;" />
        </RadzenFormField>
         <RadzenFormField Text="Nachname" Style="width: 100%;">
            <RadzenTextBox Style="width: 100%;" />
        </RadzenFormField>
         <RadzenFormField Text="Geburtsdatum" Style="width: 100%;">
            <RadzenDatePicker TValue="DateTime" Style="width: 100%;" />
        </RadzenFormField>
         <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="person_add" Text="Kunde hinzufügen" Style="width: 100%;" Click="ds.Close"/>
          </RadzenStack>
        </RadzenColumn>
    </div>, new DialogOptions());
    }

}
