@page "/rückgabeformulare"
@using AhVerwaltung.Model
@using AhVerwaltung.Data
@inject DialogService DialogService

<PageTitle>Rückgabeformulare</PageTitle>

<RadzenDataGrid Style="height:100%;" @ref=dataGrid Data="@dataRückgabe" TItem="Model.Rückgabeformular" AllowPaging="true" PageSize="20" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Simple">
    <EmptyTemplate>
        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem; height:100%">No records to display.</p>
    </EmptyTemplate>
    <HeaderTemplate>
        <RadzenRow>
            <RadzenColumn style="width:99vw;">
                <div style="float:right">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="note_add" Click="NeuesRückgabeFormular" Text="Neues Rückgabeformular" />
                </div>
            </RadzenColumn>
        </RadzenRow>
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="RückgabeFormularNr" Title="RückgabeformularNr">
            <EditTemplate Context="rückgabe">
                <RadzenNumeric @bind-Value=rückgabe.RückgabeFormularNr Style="width:100%; display: block" Name="Rückgabeformular" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Anhänger.Kennzeichen" Title="Anhänger">
            <Template>
                <RadzenButton Variant="Variant.Text" Style="width:100%; display:block" Text=@context.Anhänger.Kennzeichen ButtonStyle="ButtonStyle.Secondary" />
            </Template>
            <EditTemplate Context="rückgabe">
                <RadzenTextBox @bind-Value=rückgabe.Anhänger.Kennzeichen Style="width:100%; display: block" Name="Anhänger" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Vertrag.VertragsNr" Title="Vertragsnr">
            <Template>
                <RadzenButton Variant="Variant.Text" Style="width:100%; display:block" Text=@context.Vertrag.VertragsNr.ToString() ButtonStyle="ButtonStyle.Secondary" />
            </Template>
            <EditTemplate Context="rückgabe">
                <RadzenNumeric @bind-Value=rückgabe.Vertrag.VertragsNr Style="width:100%; display: block" Name="VartragsNr" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Property="Vertragskunden.Kurzname" Title="Vertragskunden">
            <Template>
                <RadzenButton Variant="Variant.Text" Style="width:100%; display:block" Text=@context.Vertragskunden.Kurzname ButtonStyle="ButtonStyle.Secondary" />
            </Template>
            <EditTemplate Context="rückgabe">
                <RadzenNumeric @bind-Value=rückgabe.Vertrag.VertragsNr Style="width:100%; display: block" Name="Rückgabeformular" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Model.Rückgabeformular" Context="rückgabe" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
            <Template Context="rückgabe">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(rückgabe))" @onclick:stopPropagation="true" />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(rückgabe))" @onclick:stopPropagation="true" />
            </Template>
            <EditTemplate Context="rückgabe">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(rückgabe))" />
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(rückgabe))" />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(rückgabe))" />
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private bool rückgabeModus = true;
    private List<Model.Rückgabeformular> dataRückgabe = new();
    private string selectedKunde = "Test";

    protected override async Task OnInitializedAsync()
    {
        foreach (Rückgabeformular rückgabe in RückgabeformularData.GetRueckgabeformular(50))
        {
            dataRückgabe.Add(rückgabe);
        }
        await Task.CompletedTask;
    }

    private async Task NeuesRückgabeFormular()
    {
        Rückgabeformular tmpRückgabe = new();
        await DialogService.OpenAsync("Neues Rückgabeformular", ds =>
    @<div>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack>
                <RadzenFormField Text="Rückgabeformular" Style="width: 100%;">
                    <RadzenTextBox Value="123" Disabled="true" Style="width: 100%;" />
                </RadzenFormField>
                <RadzenFormField Text="Anhänger" Style="width: 100%;">
                    <RadzenTextBox Style="width: 100%;" />
                </RadzenFormField>
                <RadzenFormField Text="Vertrag" Style="width: 100%;">
                    <RadzenTextBox Style="width: 100%;" />
                </RadzenFormField>
                <RadzenFormField Text="Vertragskunden" Style="width: 100%;">
                    <RadzenTextBox Style="width: 100%;" />
                </RadzenFormField>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Click="ds.Close" Icon="note_add" Text="Rückgabeformular hinzufügen" />
            </RadzenStack>
        </RadzenColumn>
    </div>
    , new DialogOptions());
    }

    Rückgabeformular rückgabeToInsert;
    Rückgabeformular rückgabeToUpdate;
    RadzenDataGrid<Rückgabeformular> dataGrid;
    IEnumerable<Rückgabeformular> rückgaben;

    private void AddAnhänger(Rückgabeformular tmpRückgabe)
    {
        dataRückgabe.Add(tmpRückgabe);
        dataGrid!.Reload();
        DialogService.Close();
    }

    private async Task EditRow(Rückgabeformular rückgabe)
    {
        await dataGrid!.EditRow(rückgabe);
    }

    private void CancelEdit(Rückgabeformular rückgabe)
    {
        dataGrid!.CancelEditRow(rückgabe);
    }

    private async Task DeleteRow(Rückgabeformular rückgabe)
    {
        if (dataRückgabe.Contains(rückgabe))
        {
            dataRückgabe.Remove(rückgabe);
            await dataGrid!.Reload();
        }
        else
        {
            dataGrid!.CancelEditRow(rückgabe);
            await dataGrid!.Reload();
        }
    }

    private async Task SaveRow(Rückgabeformular rückgabe)
    {
        await dataGrid!.UpdateRow(rückgabe);
    }
}

